[Unit]
Description=Backup guesschess Postgres database
After=docker.service
Requires=docker.service
RequiresMountsFor=/data

[Service]
Type=oneshot
User=deterson
EnvironmentFile=/opt/guesschess/backup.env
ExecStart=/opt/guesschess/backup-db.sh
